<div class="row">
  <div class="col-xs-12 offset-xs-0 col-6 offset-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Chambers &amp; Owen Business Portal</h1></mat-card-title
        >
        <mat-card-subtitle class="mt-2"><h2>Login</h2></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form (submit)="onLogin($event)">
          <co-signal-input
            [label]="'Email'"
            [type]="'email'"
            [field]="loginForm.email"
            [fieldConfig]="loginConfig.email"
            placeholder="Enter your email address"
          />
          <co-signal-input
            [label]="'Password'"
            [type]="'password'"
            [field]="loginForm.password"
            [fieldConfig]="loginConfig.password"
            placeholder="Enter your password"
          />

          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="w-100"
          >
            Login
          </button>
          <a 
            mat-button 
            type="button" 
            class="w-100 mt-4"
            [routerLink]="['/auth/forgot']"
            >
            Forgot credentials?
          </a>
          <hr />
          <p class="text-center">Don't have an account?</p>
          <a
            mat-button
            type="button"
            class="w-100 mt-2"
            [routerLink]="['/auth/register']"
          >
            Register
          </a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
