@if(menuItems()) { 
    <nav role="navigation" aria-label="Main navigation" [attr.data-menu-loaded]="menuLoaded()">
        <mat-nav-list role="menubar">
            @for(menuItem of menuItems(); track $index) {
                @if(menuItem.options?.heading) {
                    <h3 mat-subheader 
                        id="heading-{{$index}}" 
                        class="nav-heading">
                        {{ menuItem.title }}
                    </h3>
                    @if(menuItem.children) { 
                        @for(child of menuItem.children; track $index) {
                            <a mat-list-item 
                               [routerLink]="[child.route]" 
                               role="menuitem"
                               [attr.tabindex]="-1"
                               [class.current-page]="isCurrentRoute(child.route)"
                               (keydown)="onKeyDown($event)"
                               (click)="onMenuItemClick()"
                               class="nav-item">
                                <span matListItemTitle>{{ child.title }}</span>
                            </a>
                        } 
                    } 
                } @else {
                    <a mat-list-item 
                       [routerLink]="[menuItem.route]" 
                       role="menuitem"
                       [attr.tabindex]="-1"
                       [class.current-page]="isCurrentRoute(menuItem.route)"
                       (keydown)="onKeyDown($event)"
                       (click)="onMenuItemClick()"
                       class="nav-item">
                        <span matListItemTitle>{{ menuItem.title }}</span>
                    </a>
                } 
            }
        </mat-nav-list>
    </nav>
}