<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Change Password</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Since you're logging in for the first time, please enter a secure
      password. This must be completed before accessing your account.
    </p>
    <ul>
      <li>Your password must be at least 10 characters long.</li>
      <li>Your password must contain at least one uppercase letter.</li>
      <li>Your password must contain at least one lowercase letter.</li>
      <li>Your password must contain at least one number.</li>
      <li>Your password must contain at least one special character.</li>
    </ul>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input
            matInput
            formControlName="oldPassword"
            type="password"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            formControlName="newPassword"
            type="password"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Confirm New Password</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            type="password"
            required
          />
        </mat-form-field>
      </div>
        <button
            mat-raised-button
            color="primary"
            type="submit">
            Change Password
        </button>
            
    </form>
  </mat-card-content>
</mat-card>
