<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>User Accounts</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
    </mat-form-field>
    <table mat-table matSort [dataSource]="userAccountDataSource">
      @for(column of displayedColumns; track column) { @if(column !== 'actions')
      {
      <ng-container matColumnDef="{{ column }}">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element[column] }}
        </td>
      </ng-container>
      } }
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr 
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="viewRow(row)"
        class="hover-row"></tr>
    </table>
    <mat-paginator
      pageSize="10"
      [pageSizeOptions]="[10, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
