<mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input
    matInput
    (keyup)="updateSearch($event)"
    placeholder="Search"
  />
</mat-form-field>
@for(filterGroup of filters(); track $index) {
  <mat-form-field appearance="outline" class="ms-3">
    <mat-label>{{filterGroup.label}}</mat-label>
    <mat-select [aria-label]="filterGroup.name" (selectionChange)="onFilterChange($event)">
      <mat-option [value]="-1">None</mat-option>
      @for(option of filterGroup.options; track $index) {
        <mat-option [value]="option.value">
          {{ option.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
}
