<mat-sidenav-container fullscreen>
  <mat-sidenav #start (click)="start.close()">
    <mat-list>
      <a mat-list-item [routerLink]="['home']" routerLinkActive="active">Home</a>
      <a mat-list-item [routerLink]="['admin/users']" routerLinkActive="active">Users</a>
      </mat-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    @if(isLoggedIn()) {
    <button mat-icon-button (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
    Chambers &amp; Owen
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    }
  </mat-toolbar>

  <div class="container">
    <messages />
    <div class="row mt-5">
      <div class="col-xs-12 offset-xs-0 col-lg-10 offset-lg-1">
        <router-outlet />
      </div>
    </div>
  </div>
</mat-sidenav-container>
