<mat-drawer-container fullscreen>
  <mat-drawer mode="over" #start (backdropClick)="start.close()">
    <mat-list>
      <co-menu [drawer]="start" />
    </mat-list>
  </mat-drawer>
  <mat-toolbar color="primary">
    @if(isLoggedIn()) {
    <button mat-icon-button (click)="start.open('mouse')" id="co-menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    Chambers &amp; Owen
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <mat-menu #profileMenu="matMenu">
      <a mat-menu-item [routerLink]="['profile']">
        <mat-icon>person</mat-icon>
        Profile
      </a>
      <a mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </a>
    </mat-menu>
    }
  </mat-toolbar>
    <div class="container">
      <loading />
      <div class="row mt-5">
        <div class="col-xs-12 offset-xs-0 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0">
      <messages />
          <router-outlet />
        </div>
      </div>
    </div>
</mat-drawer-container>
