<mat-form-field appearance="outline" class="w-100 mt-1">
  <mat-label>{{ label() }}</mat-label>
  <mat-select formControlName="formControlName()">
    @for (option of options(); track $index) {
        <mat-option [value]="option.id">
            {{ option.name | titlecase }}
          </mat-option>      
    }
  </mat-select>
  @if(formGroup().get(formControlName())!.invalid &&
  (formGroup().get(formControlName())!.touched ||
  formGroup().get(formControlName())!.dirty)) {
  <mat-error>
    {{ getErrorMessage(formControlName()) }}
  </mat-error>
  }
</mat-form-field>
