<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Set Password</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Since you're logging in for the first time, please enter a secure
      password. This must be completed before accessing your account.
    </p>
    <ul>
      <li>Your password must be at least 10 characters long.</li>
      <li>Your password must contain at least one uppercase letter.</li>
      <li>Your password must contain at least one lowercase letter.</li>
      <li>Your password must contain at least one number.</li>
      <li>Your password must contain at least one special character.</li>
    </ul>
    <form [formGroup]="form">
      <co-input
        [formGroup]="form"
        [label]="'New Password'"
        [type]="'password'"
        [formControlName]="'password'"
        placeholder="Enter your new password"
        [model]="setPassword"
      />
      <co-input
        [formGroup]="form"
        [label]="'Confirm Password'"
        [type]="'password'"
        [formControlName]="'confirmPassword'"
        placeholder="Confirm your new password"
        [model]="setPassword"
      />
    </form>
  </mat-card-content>
  <mat-card-actions class="mt-2" align="end">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="w-100"
      (click)="onChangePassword()"
    >
      Set Password
    </button>
  </mat-card-actions>
</mat-card>
