@if (message()) {

<div class="row mt-4">
  <div class="col-xs-12 offset-xs-0 col-lg-10 offset-lg-1">
    <div
      class="alert alert-dismissible fade show"
      [ngClass]="'alert-' + message()?.severity"
      role="alert"
    >
        @switch (message()?.severity) { @case('success') {
        <mat-icon>check_circle</mat-icon>
        } @case('warning') {
        <mat-icon>warning</mat-icon>
        } @case('danger') {
        <mat-icon>error</mat-icon>
        } @case ('info') {
        <mat-icon>info</mat-icon>
        } }
        <span>{{ message()?.text }}</span>
      <button type="button" class="btn-close" (click)="onClose()"></button>
    </div>
  </div>
</div>
}
