<mat-card>
  <mat-card-header>
    <mat-card-title
      ><h1>{{ user()?.name }}</h1></mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-lg col-xl col-xxl-4">
        <form [formGroup]="form">
          <co-input
            [formGroup]="form"
            [label]="'First Name'"
            [type]="'text'"
            [formControlName]="'usfname'"
            placeholder="Enter your first name"
            [model]="profileAccount"
          />
          <co-input
            [formGroup]="form"
            [label]="'Last Name'"
            [type]="'text'"
            [formControlName]="'uslname'"
            placeholder="Enter your last name"
            [model]="profileAccount"
          />
          <co-input
            [formGroup]="form"
            [label]="'Email'"
            [type]="'email'"
            [formControlName]="'usemail'"
            placeholder="Enter your email address"
            [model]="profileAccount"
          />
        </form>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button type="button" (click)="onCancel($event)">
      Cancel
    </button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      (click)="onSaveProfile()"
    >
      Update Profile
    </button>
  </mat-card-actions>
</mat-card>
