@if(userAccount()) {<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>{{ userAccount()?.usfname + " " + userAccount()?.uslname }}</h1>
    </mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @if(userAccount() && userAccount()?.usstat === 'PENDING') {
      <button mat-menu-item (click)="onApproveUser()">Approve</button>
      }
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="row justify-content-xl-start justify-content-xxl-center">
        <div class="col-12 col-xl-6 col-xxl-4">
          <co-input
            [formGroup]="form"
            [label]="'First Name'"
            [type]="'text'"
            [formControlName]="'usfname'"
            placeholder="Enter your first name"
            [model]="userAccountForm"
          />
          <co-input
            [formGroup]="form"
            [label]="'Last Name'"
            [type]="'text'"
            [formControlName]="'uslname'"
            placeholder="Enter your last name"
            [model]="userAccountForm"
          />
          <co-input
            [formGroup]="form"
            [label]="'Email Address'"
            [type]="'email'"
            [formControlName]="'usemail'"
            placeholder="Enter your email address"
            [model]="userAccountForm"
          />
        </div>
        <div class="col-12 col-xl-6 col-xxl-4">
          <co-select
            [formGroup]="form"
            [label]="'Role'"
            [formControlName]="'usroleid'"
            [options]="roles"
            [placeholder]="'Select a role'"
            [model]="userAccountForm"
          />
          <co-select
            [formGroup]="form"
            [label]="'Status'"
            [formControlName]="'usstat'"
            [options]="statuses"
            [placeholder]="'Select a status'"
            [model]="userAccountForm"
          />
          <co-input
            [formGroup]="form"
            [label]="'Idle'"
            [type]="'text'"
            [formControlName]="'usidle'"
            placeholder="Enter your idle time"
            [model]="userAccountForm"
          />
          <co-input
            [formGroup]="form"
            [label]="'Account number'"
            [type]="'text'"
            [formControlName]="'usabnum'"
            placeholder="Enter your account number"
            [model]="userAccountForm"
          />
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-button color="warn" [routerLink]="['/admin/users']">Cancel</a>
    <button mat-raised-button color="warn" (click)="onDeleteUserAccount()">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="onSaveUserAccount()">
      Save
    </button>
  </mat-card-actions>
</mat-card>

}
