@use 'bootstrap/scss/bootstrap';
@use '@angular/material' as mat;
@use '_theme-colors.scss' as co-theme-colors;
@use 'sass:map';

html {
    color-scheme: light;
    @include mat.theme((
        color: (
            theme-type: light,
            primary: co-theme-colors.$primary-palette,
            secondary: co-theme-colors.$secondary-palette,
            tertiary: co-theme-colors.$tertiary-palette,
            error: co-theme-colors.$error-palette,
            ),
        typography: (
            font-family: 'Roboto, "Helvetica Neue", sans-serif',
        ),
        density: 0,
    ));
}

html,
body {
    height: 100%;
}