<div class="form-group"
     [formGroup]="formGroup()">
  <mat-radio-group [formControlName]="controlName()"
                   aria-label="{{ placeholder() }}"
                   >
    @for(option of options(); track $index) {
    <mat-radio-button [value]="option.id"
                      [id]="'radio-' + option.name"
                      >
      {{ option.name | titlecase }}
    </mat-radio-button>
    }
  </mat-radio-group>
  @if(formGroup().get(controlName())!.invalid &&
  (formGroup().get(controlName())!.touched ||
  formGroup().get(controlName())!.dirty)) {
  <mat-error>
    {{ getErrorMessage() }}
  </mat-error>
  }
</div>