<div class="form-group" [formGroup]="formGroup()">
  <mat-radio-group [formControlName]="formControlName">
    @for(option of options(); track $index) {
    <mat-radio-button [value]="option.id">
      {{ option.name | titlecase }}
    </mat-radio-button>
    }
  </mat-radio-group>
  @if(formGroup().get(formControlName)!.invalid &&
  (formGroup().get(formControlName)!.touched ||
  formGroup().get(formControlName)!.dirty)) {
  <mat-error>
    {{ getErrorMessage(formControlName) }}
  </mat-error>
  }
</div>
